# Dependency directories
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional IDE/Editor files
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
